### NOTE: Any sensitive data such as secret keys or connections strings
###       must be changed for production environments. These are simply dev configurations

# General
DEBUG=True       

# Database
CONNECTION_STR="postgresql+psycopg://postgres:postgres@localhost:5432/budget-api"

# Authentication/Passwords
#can generate another with 'openssl rend -hex 32'
SECRET_KEY="d03ccad05fdaaeb092ab09a10268f90c0995f8087b9d11f482306307a1df8dc7"
ACCESS_TOKEN_EXPIRE_MINUTES="30"
HASHING_ALGO="HS256"
